name: CI-CD-Pipeline

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build Backend
        uses: docker/build-push-action@v5
        with:
          # This path matches your VS Code sidebar exactly
          context: ./crud-dd-task-mean-app/crud-dd-task-mean-app/backend
          push: true
          tags: ${{ secrets.DOCKERHUB_USERNAME }}/mean-backend:latest

      - name: Build Frontend
        uses: docker/build-push-action@v5
        with:
          # This path matches your VS Code sidebar exactly
          context: ./crud-dd-task-mean-app/crud-dd-task-mean-app/frontend
          push: true
          tags: ${{ secrets.DOCKERHUB_USERNAME }}/mean-frontend:latest